# Dépendances Nude.js : jamais dans Git 
node_modules/

# Variables d'environnement (mot de passe , clés d'API)
.env 

# Fichiers système dd
.Ds_Store
Thumbs.db

# Réglages locaux de l'éditeur
.vscode/